<section class="comments-layout">

  <article>
    <iframe src="{{ model.url }}" class="page-iframe"></iframe>
  </article>

  <aside {{bind-attr class="drawerShown"}}>
    <button id="drawer-handle" {{ action 'showDrawer' }}>
      <i class="fa fa-comments"></i> Show
    </button>
    <div id="page-comments">
      <div class="created">
        <h4>{{ model.title }}</h4>
        <p><i class="fa fa-file-o"></i> {{ model.host }}</p>
        <p><i class="fa fa-clock-o"></i> Created {{ formattedDate }}.</p>
      </div>
      {{#each model.comments as |comment| }}
        <blockquote class="border-{{ comment.color }}">{{ comment.message }}</blockquote>
      {{/each}}
    </div>
    <div class='new_comment'>
      {{#view 'new-comment' contentBinding='this'}}
        {{textarea
          id="new-comment-field"
          placeholder="Type your comment"
          value=newComment
        }}
        <button tabindex="-1" {{ action 'hideDrawer' }} class="pull-left hide-button">
          <i class="fa fa-comments"></i> Hide
        </button>
        <button type="button" {{ action 'addComment' }} class="btn btn-primary btn-lg pull-right">Send</button>
      {{/view}}
    </div>
  </aside>

</section>
